# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
env/
# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/build
/dist

# Coverage directory
/coverage

# Cache
.cache
.npm
.eslintcache

# Misc
*.pem
.DS_Store
Thumbs.db

# Django-specific files

backend/local_settings.py
backend/media
backend/static
backend/migrations
__pycache__
backend/db.sqlite3
